---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---

<Layout title="Български интерактивен буквар">
	<main>
		<h1>Български интерактивен буквар</h1>
		<p class="instructions">
			Натиснете буква, за да чуете произношението й, както и дума образец, която започва с нея.
		</p>
		<div class="alphabet-grid">
			<Card
				letter="Аа"
				word="агне"
				imageSrc="/src/assets/images/01.agne.svg"
				imageAlt="агне"
				imagePosition="topRight"
				audioSrc="/src/assets/audio/sheep.mp3"
			/>
			<Card
				letter="Бб"
				word="бухал"
				imageSrc="/src/assets/images/02.buhal.svg"
				imageAlt="бухал"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Вв"
				word="вълк"
				imageSrc="/src/assets/images/03.vulk.svg"
				imageAlt="вълк"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Гг"
				word="глиган"
				imageSrc="/src/assets/images/04.gligan.svg"
				imageAlt="глиган"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Дд"
				word="динозавър"
				imageSrc="/src/assets/images/05.dinozavar.svg"
				imageAlt="динозавър"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ее"
				word="елен"
				imageSrc="/src/assets/images/06.elen.svg"
				imageAlt="елен"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Жж"
				word="жаба"
				imageSrc="/src/assets/images/07.jaba.svg"
				imageAlt="жаба"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Зз"
				word="зебра"
				imageSrc="/src/assets/images/08.zebra.svg"
				imageAlt="зебра"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ии"
				word="игуана"
				imageSrc="/src/assets/images/09.iguana.svg"
				imageAlt="игуана"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Йй"
				word="йогурт"
				imageSrc="/src/assets/images/10.yogurt.svg"
				imageAlt="йогурт"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Кк"
				word="катерица"
				imageSrc="/src/assets/images/11.katerica.svg"
				imageAlt="катерица"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Лл"
				word="лъв"
				imageSrc="/src/assets/images/12.luv.svg"
				imageAlt="лъв"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Мм"
				word="мечка"
				imageSrc="/src/assets/images/13.mechka.svg"
				imageAlt="мечка"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Нн"
				word="носорог"
				imageSrc="/src/assets/images/14.nosorog.svg"
				imageAlt="носорог"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Оо"
				word="октопод"
				imageSrc="/src/assets/images/15.oktopod.svg"
				imageAlt="октопод"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Пп"
				word="панда"
				imageSrc="/src/assets/images/16.panda.svg"
				imageAlt="панда"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Рр"
				word="рак"
				imageSrc="/src/assets/images/17.rak.svg"
				imageAlt="рак"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Сс"
				word="слон"
				imageSrc="/src/assets/images/18.slon.svg"
				imageAlt="слон"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Тт"
				word="тигър"
				imageSrc="/src/assets/images/19.tigar.svg"
				imageAlt="тигър"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Уу"
				word="учебник"
				imageSrc="/src/assets/images/20.uchebnik.svg"
				imageAlt="учебник"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Фф"
				word="фламинго"
				imageSrc="/src/assets/images/21.flamingo.svg"
				imageAlt="фламинго"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Хх"
				word="хипопотам"
				imageSrc="/src/assets/images/22.hipopotam.svg"
				imageAlt="хипопотам"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Цц"
				word="цвете"
				imageSrc="/src/assets/images/23.cvete.svg"
				imageAlt="цвете"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Чч"
				word="череша"
				imageSrc="/src/assets/images/24.cheresha.svg"
				imageAlt="череша"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Шш"
				word="шапка"
				imageSrc="/src/assets/images/25.shapka.svg"
				imageAlt="шапка"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Щщ"
				word="щъркел"
				imageSrc="/src/assets/images/26.stork.svg"
				imageAlt="щъркел"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ъъ"
				word="ъгъл"
				imageSrc="/src/assets/images/27.angle.svg"
				imageAlt="ъгъл"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="ь"
				word="-"
				hiddenImage
				imageSrc="/src/assets/images/29.jupiter.svg"
				imageAlt=""
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Юю"
				word="юпитер"
				imageSrc="/src/assets/images/29.jupiter.svg"
				imageAlt="юпитер"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Яя"
				word="ябълка"
				imageSrc="/src/assets/images/30.apple.svg"
				imageAlt="ябълка"
				imagePosition="topRight"
				audioSrc=""
			/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 80vw;
		max-width: calc(100% - 2rem);
		color: var(--text-color);
		font-size: 20px;
		line-height: 1.6;
	}
	.alphabet-grid {
		display: grid;
		grid-template-columns: repeat(6, minmax(5rem, 1fr));
		gap: 2rem;
		padding: 0;
	}

	h1 {
		font-size: 2rem;
	}

	p.instructions {
		font-size: 1rem;
		margin-bottom: 2rem;
	}

	@media screen and (max-width: 820px) {
		.alphabet-grid {
			grid-template-columns: repeat(5, minmax(5rem, 1fr));
		}
	}
</style>
