---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---

<Layout title="Български интерактивен буквар">
	<main>
		<h1>Interactief nederlands alfabet</h1>
		<p class="instructions">
			Tik op een letter om de uitspraak te horen, evenals een voorbeeldwoord dat ermee begint.
		</p>
		<div class="alphabet-grid">
			<Card
				letter="Aa"
				word="aap"
				imageSrc="/alphabet-audio-app/assets/images/nl/01.monkey.svg"
				imageAlt="aap"
				imagePosition="topRight"
				audioSrc="/alphabet-audio-app/assets/audio/nl/sheep.mp3"
			/>
			<Card
				letter="Bb"
				word="bij"
				imageSrc="/alphabet-audio-app/assets/images/nl/02.bee.svg"
				imageAlt="bij"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Cc"
				word="citroen"
				imageSrc="/alphabet-audio-app/assets/images/nl/03.lemon.svg"
				imageAlt="citroen"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Dd"
				word="dolfijn"
				imageSrc="/alphabet-audio-app/assets/images/nl/04.dolphin.svg"
				imageAlt="dolfijn"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ee"
				word="egel"
				imageSrc="/alphabet-audio-app/assets/images/nl/05.hedgehog.svg"
				imageAlt="egel"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ff"
				word="flamingo"
				imageSrc="/alphabet-audio-app/assets/images/nl/06.flamingo.svg"
				imageAlt="flamingo"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Gg"
				word="giraffe"
				imageSrc="/alphabet-audio-app/assets/images/nl/07.giraffe.svg"
				imageAlt="жаба"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Hh"
				word="haai"
				imageSrc="/alphabet-audio-app/assets/images/nl/08.shark.svg"
				imageAlt="haai"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ii"
				word="inktvis"
				imageSrc="/alphabet-audio-app/assets/images/nl/09.octopus.svg"
				imageAlt="inktvis"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Jj"
				word="jaguar"
				imageSrc="/alphabet-audio-app/assets/images/nl/10.jaguar.svg"
				imageAlt="jaguar"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Kk"
				word="koe"
				imageSrc="/alphabet-audio-app/assets/images/nl/11.cow.svg"
				imageAlt="koe"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ll"
				word="lama"
				imageSrc="/alphabet-audio-app/assets/images/nl/12.lama.svg"
				imageAlt="lama"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Mm"
				word="maan"
				imageSrc="/alphabet-audio-app/assets/images/nl/13.moon.svg"
				imageAlt="maan"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Nn"
				word="nijlpaard"
				imageSrc="/alphabet-audio-app/assets/images/nl/14.hippo.svg"
				imageAlt="nijlpaard"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Oo"
				word="olifant"
				imageSrc="/alphabet-audio-app/assets/images/nl/15.elephant.svg"
				imageAlt="olifant"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Pp"
				word="paard"
				imageSrc="/alphabet-audio-app/assets/images/nl/16.horse.svg"
				imageAlt="paard"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Qq"
				word="quiche"
				imageSrc="/alphabet-audio-app/assets/images/nl/17.quiche.svg"
				imageAlt="quiche"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Rr"
				word="regenboog"
				imageSrc="/alphabet-audio-app/assets/images/nl/18.rainbow.svg"
				imageAlt="regenboog"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ss"
				word="slang"
				imageSrc="/alphabet-audio-app/assets/images/nl/19.snake.svg"
				imageAlt="slang"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Tt"
				word="tijger"
				imageSrc="/alphabet-audio-app/assets/images/nl/20.tiger.svg"
				imageAlt="tijger"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Uu"
				word="uil"
				imageSrc="/alphabet-audio-app/assets/images/nl/21.owl.svg"
				imageAlt="uil"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Vv"
				word="vlinder"
				imageSrc="/alphabet-audio-app/assets/images/nl/23.butterfly.svg"
				imageAlt="vlinder"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Ww"
				word="walvis"
				imageSrc="/alphabet-audio-app/assets/images/nl/22.whale.svg"
				imageAlt="walvis"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Xx"
				word="xylofoon"
				imageSrc="/alphabet-audio-app/assets/images/nl/24.xylophone.svg"
				imageAlt="xylofoon"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="IJij"
				word="ijs"
				imageSrc="/alphabet-audio-app/assets/images/nl/25.icecream.svg"
				imageAlt="ijs"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Yy"
				word="yoghurt"
				imageSrc="/alphabet-audio-app/assets/images/nl/26.yoghurt.svg"
				imageAlt="yoghurt"
				imagePosition="topRight"
				audioSrc=""
			/>
			<Card
				letter="Zz"
				word="zwaan"
				imageSrc="/alphabet-audio-app/assets/images/nl/27.swan.svg"
				imageAlt="zwaan"
				imagePosition="topRight"
				audioSrc=""
			/>
		</div>
	</main>
</Layout>

<style>
	body {
		background-color: #f1f2f9;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 80vw;
		max-width: calc(100% - 2rem);
		color: var(--text-color);
		font-size: 20px;
		line-height: 1.6;
	}
	.alphabet-grid {
		display: grid;
		grid-template-columns: repeat(6, minmax(5rem, 1fr));
		gap: 2rem;
		padding: 0;
	}

	h1 {
		font-size: 2rem;
	}

	p.instructions {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	@media screen and (max-width: 820px) {
		.alphabet-grid {
			grid-template-columns: repeat(5, minmax(5rem, 1fr));
		}
	}
</style>
